@import "tailwindcss";

@theme {
  --color-background: #FFFFFF;
  --color-accent: #90EE90;
  --color-text: #1B3022;
  --color-accent-lighter: #e0ffe0;
  --font-sans: 'Montserrat', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
